# LaTeX auxiliary and log files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.tmp
*.ipynb
*.vscode
settings.json
**/out/
**/progs/
relatorio/aduja.txt
pr/
errorFiles/
templates f/
templates_old/
logs/
ml/outputs/
ml/ml_env/